body {
  background-image: url("./forge.png");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: white;
}

h4 {
  font-size: 30px;
  padding-left: 185px;
}

p {
  font-size: 20px;
  padding-left: 225px;
}

.icon {
  width: 300px;
  vertical-align: top;
  rotate: 45deg;
}

.tooltip {
  position: absolute;
  display: none;
  background-color: black;
  color: white;
  padding: 4px;
}

.sword-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-grid;
  place-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
  gap: 20px;
  padding: 20px;
}

.left-side {
  background-color: rgba(150, 144, 144, 0.6);
  padding: 20px;
  border-radius: 8px;
}

.right-side {
  background-color: rgba(150, 144, 144, 0.6);
  padding: 20px;
  border-radius: 8px;
}
